---
import Page from '@layouts/Page.astro';
import RichText from '@components/rich-text/RichText.astro';
import Badge from '@components/badge/Badge.astro';
import Breadcrumb from '@components/breadcrumb/Breadcrumb.astro';
import Heading from '@components/heading/Heading.astro';
import Eyebrow from '@components/eyebrow/Eyebrow.astro';
import TableOfContents from '@components/table-of-contents/TableOfContents.astro';
import IconGroup from '@patterns/icon-group/IconGroup.astro';
import PostHeader from '@patterns/post-header/PostHeader.astro';
import CardGroup from '@patterns/card-group/CardGroup.astro';
import { capitalize } from '@src/utils/helpers';
import FigureMdx from '@components/figure/FigureMdx.astro'; 
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const allPosts = await getCollection('blog');

const relatedPosts = allPosts
  .filter(entry => entry.id !== post.id)
  .filter(entry => entry.data.category === post.data.category)
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
  .slice(0, 3);

console.log(relatedPosts);
---

<Page>
  <PostHeader
    title={post.data.title}
    image={post.data.image}
    imageAlt={post.data.imageAlt}
    excerpt={post.data.excerpt}
    category={post.data.category}
    categoryHref={post.data.category ? `/blog/category/${post.data.category.toLowerCase()}` : undefined}
    date={post.data.date}
    readTime={post.data.readTime}
  />
  <article id="post-content" class="container mx-auto py-12 md:py-20">
    <div class="grid grid-cols-12 gap-16">
      <div class="col-span-3">
        <TableOfContents headings={headings} />
      </div>
      <div class="col-span-6 space-y-8">
        <RichText variant="large">
          <Content components={{ img: FigureMdx }} />
        </RichText>
      </div>
    </div>
    <!-- <div class="max-w-3xl mx-auto space-y-8">
      
    </div> -->
  </article>
  {relatedPosts.length > 0 &&
    <CardGroup
      posts={relatedPosts}
      heading={`More from ${capitalize(post.data.category ?? '')}`}
    />
  }
  
</Page>