---
import Page from '@layouts/Page.astro';
import BlogCard from '@patterns/blog-card/BlogCard.astro';
import CategoryTabs from '@components/category-tabs/CategoryTabs.astro';
import PageHeader from '@patterns/page-header/PageHeader.astro';
import Button from '@components/button/Button.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const categories = [...new Set(posts.map(p => p.data.category).filter(Boolean))] as string[];

  return categories.map(category => ({
    params: { category: category.toLowerCase() },
    props: { category, posts: posts.filter(p => p.data.category?.toLowerCase() === category.toLowerCase()) },
  }));
}

const { category, posts } = Astro.props;

const allPosts = await getCollection('blog');
const categories = [...new Set(allPosts.map(p => p.data.category).filter(Boolean))].sort() as string[];

const sorted = posts.sort((a, b) =>
  new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const POSTS_PER_PAGE = 8;
---

<Page>
  <PageHeader
    heading={category}
    description="Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur."
    image={sorted[0]?.data.thumbnail}
    imageAlt={category}
  />
  <section class="container mx-auto py-12 md:py-20">
    <div class="space-y-12">
      <CategoryTabs
        categories={categories}
        currentCategory={category}
        baseUrl="/blog"
      />
      <div x-data={`{ showing: ${POSTS_PER_PAGE} }`}>
        <div class="grid grid-cols-2 lg:grid-cols-12 gap-8">
          {sorted.map((post, index) => (
            <div
              class="col-span-2 md:col-span-1 lg:col-span-3"
              x-show={`${index} < showing`}
            >
              <BlogCard
                image={post.data.thumbnail}
                imageAlt={post.data.thumbnailAlt}
                category={post.data.category}
                heading={post.data.title}
                href={`/blog/${post.id}`}
                date={post.data.date}
                readTime={post.data.readTime}
              />
            </div>
          ))}
        </div>
        {sorted.length > POSTS_PER_PAGE && (
          <div class="text-center mt-12" x-show={`showing < ${sorted.length}`}>
            <Button
              tag="button"
              text="Load more"
              variant="secondary"
              attrs={{ '@click': `showing += ${POSTS_PER_PAGE}` }}
            />
          </div>
        )}
      </div>
    </div>
  </section>
</Page>