---
/*
  CardGroup Pattern

  A responsive card grid with horizontal scroll on mobile.
  Accepts blog posts and renders them as BlogCard components.

  Props:
    posts: CollectionEntry<'blog'>[]      # Array of blog posts (required)
    heading?: string                      # Section heading
    classes?: string                      # Additional classes

  Examples:
    <CardGroup
      posts={relatedPosts}
      heading="More from Photography"
    />
*/

import './card-group.css';
import Heading from '@components/heading/Heading.astro';
import BlogCard from '@patterns/blog-card/BlogCard.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[];
  heading?: string;
  classes?: string;
}

const { posts, heading, classes = '' } = Astro.props;

const className = ['p-card-group py-12 md:py-20', classes].filter(Boolean).join(' ');
---

<div class={className}>
	<div class="container mx-auto">
		<div class="space-y-6 md:space-y-8">
			{heading && <Heading text={heading} tag="h2" size="h4" />}
			<div class="p-card-group__grid md:grid md:grid-cols-12 gap-4 md:gap-8">
				{posts.map(post => (
					<div class="col-span-3">
						<BlogCard
							image={post.data.image}
							imageAlt={post.data.imageAlt}
							category={post.data.category}
							heading={post.data.title}
							href={`/blog/${post.id}`}
							date={post.data.date}
							readTime={post.data.readTime}
						/>
					</div>
					
				))}
			</div>
		</div>
	</div>
  
</div>